---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Neuroscience Journalism",
    description:
      "Through the creative format of writing and recording, members of our organization share personalized insights and discoveries from the field of neuroscience, making complex science relatable and engaging for all.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Spotify Podcast",
    description:
      "Dive into the world of modern-generation neuroscience on our podcast, where we engage in insightful conversations and unique topics with experts of today, gaining exclusive knowledge and important lessons regarding the future of the brain.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Social Media Promotion",
    description:
      "Explore our YouTube channel and social media platforms, such as Instagram and TikTok, to discover visually and creatively interactive content (such as daily facts!), providing an immersive learning experience on all things neuroscience.",
    icon: "bx:bxs-data",
  },
  {
    title: "Volunteer Opportunities & Outreach",
    description:
      "Join us in making a difference in our local communities through volunteer opportunities. Our outreach programs, where we collaborate with organizations of similar goals, aim to involve today’s youth, offer support, and promote understanding of neurodegenerative diseases.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Education & Awareness",
    description:
      "Our mission is to educate and spread awareness about neuroscience and its impact on today’s society and future generations. We offer a range of initiatives, including hands-on workshops and informative talks, that bring the world of the brain to the people around us.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Research & Experimentation",
    description:
      "Explore the cutting-edge research and investigations conducted by our club, contributing to the evolving body of knowledge about the brain and its intricacies. Through learning about the brain, members experiment with the possibilities of neuroscience and engage in scientific critical thinking.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    What we do at CogniCore
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    CogniCore is meant to be a place for people to network with others and have
    fun while learning the basics of Neuroscience and applying it in the real
    world
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
